@mixin before_circle {
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0px;
    top: -25%;
    width: 36px;
    height: 36px;
    background: $color-main;
    border-radius: 100%;
  }
}